<!DOCTYPE html>
<html>

<head>
    <% include ../../head %>
</head>

<body>
    <div id="wrapper">
        <% include ../sidebar %>
        <div id="page-wrapper" class="gray-bg">
           <% include ../navbar %>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-4"><span style="float:right;color:#000;padding-right:7px;padding-top:5px"><a href="/users/del/58b96fc133558d6e902a192c"> <i class="fa fa-times"></i></a></span><span style="float:right;color:#000;padding-right:3px;padding-top:5px"><a href="/users/edit/58b96fc133558d6e902a192c"> <i class="fa fa-wrench"></i></a></span>
                        <div class="contact-box">
                            <a href="profile.html"></a>
                            <div class="col-sm-4">
                                <div class="text-center"></div><img alt="image" src="/images/uploads/4c1420df247a818f6478276f9d470ab8" class="img-circle m-t-xs img-responsive">
                                <div class="m-t-xs font-bold">CEO</div>
                            </div>
                            <div class="col-sm-8">
                                <h3></h3><strong>Bùi Sơn</strong>
                                <p></p><i class="fa fa-map-marker"></i> Bai Chay Street
                                <address></address><strong>iForce</strong><br> Mỗ Lao Hà Nội<br></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">10GB of <strong>250GB</strong> Free.</div>
                <div><strong>Copyright</strong> Example Company &copy; 2014-2015</div>
            </div>
        </div>
        <!-- Noi dung right-sidebar-->
    </div>
   <% include ../footer %>
</body>

</html>