<nav role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse">
        <ul id="side-menu" class="nav metismenu">
            <li class="nav-header">
                <div class="dropdown profile-element"><span><img alt="image" src="img/profile_small.jpg" style="width:48px;height:48px" class="img-circle"></span><a data-toggle="dropdown" href="#" class="dropdown-toggle"><span class="clear"><span class="block m-t-xs"><strong class="font-bold">Icecream</strong></span> <span class="text-muted text-xs block">Development <b class="caret"></b></span></span></a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="mailbox.html">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="/users/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">IN+</div>
            </li>
            <li><a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> </a></li>
            <li><a href="#"><i class="fa fa-user"></i> <span class="nav-label">Users</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/users">Danh sách</a></li>
                    <li><a href="/users/add">Thêm mới</a></li>
                    <li><a href="/users/edit">Cập nhật</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-medium"></i> <span class="nav-label">Medias</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/medias">Danh sách</a></li>
                    <li><a href="/medias/add">Thêm mới</a></li>
                    <li><a href="/medias/edit">Cập nhật</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Danh mục</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/categories">Danh sách</a></li>
                    <li><a href="/categories/add">Thêm mới</a></li>
                    <li><a href="">Cập nhật</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Danh mục sản phẩm</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/products">Danh sách</a></li>
                    <li><a href="/products/add">Thêm mới</a></li>
                    <li><a href="">Cập nhật</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Bài viết</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/posts">Danh sách</a></li>
                    <li><a href="/posts/add">Thêm mới</a></li>
                    <li><a href="">Cập nhật</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Sản phẩm</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/sanphams">Danh sách sản phẩm</a></li>
                    <li><a href="/sanphams/add">Thêm mới</a></li>
                    <li><a href="">Cập nhật</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-user"></i> <span class="nav-label">Liên hệ</span></a></li>
        </ul>
    </div>
</nav>